{# AdminLTE Index Template Skeleton #}
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title">{{ pluralHumanName }}</h3>
    <div class="card-tools">
      <?= $this->Html->link(
        __('New {{ singularHumanName }}'),
        ['action' => 'add'],
        ['class' => 'btn btn-primary btn-sm']
      ) ?>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped align-middle">
        <thead>
          <tr>
            {%- for field in fields %}
              <th><?= $this->Paginator->sort('{{ field }}') ?></th>
            {%- endfor %}
            <th class="text-center" style="width: 160px;"><?= __('Actions') ?></th>
          </tr>
        </thead>
        <tbody>
          <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
          <tr>
            {%- for field in fields %}
              <td>
                {%- if field in ['created','modified','updated','deleted'] %}
                  <?= h(${{ singularVar }}->{{ field }}?->format('Y-m-d H:i')) ?>
                {%- else %}
                  <?= h(${{ singularVar }}->{{ field }}) ?>
                {%- endif %}
              </td>
            {%- endfor %}
            <td class="text-center">
              <?= $this->Html->link(__('View'), ['action' => 'view', ${{ singularVar }}->{{ primaryKey[0] }}], ['class' => 'btn btn-xs btn-primary']) ?>
              <?= $this->Html->link(__('Edit'), ['action' => 'edit', ${{ singularVar }}->{{ primaryKey[0] }}], ['class' => 'btn btn-xs btn-warning']) ?>
              <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', ${{ singularVar }}->{{ primaryKey[0] }}], ['confirm' => __('Are you sure you want to delete # {0}?', ${{ singularVar }}->{{ primaryKey[0] }}), 'class' => 'btn btn-xs btn-danger']) ?>
            </td>
          </tr>
          <?php endforeach; ?>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div><?= $this->Paginator->counter() ?></div>
      <div class="btn-group">
        <?= $this->Paginator->first('<<') ?>
        <?= $this->Paginator->prev('<') ?>
        <?= $this->Paginator->numbers() ?>
        <?= $this->Paginator->next('>') ?>
        <?= $this->Paginator->last('>>') ?>
      </div>
    </div>
  </div>
</div>
