{% set pk = Bake.primaryKey(data.schema) %}
{% set displayField = Bake.displayField(data.schema) %}
<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h3 class="card-title">{{ pluralHumanName }}</h3>
    <div class="card-tools">
      <?= $this->Html->link(__('Add {{ singularHumanName }}'), ['action' => 'add'], ['class' => 'btn btn-success btn-sm']) ?>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            {% for field in fields %}
              <th><?= $this->Paginator->sort('{{ field }}', __('{{ field|humanize }}')) ?></th>
            {% endfor %}
            <th class="text-nowrap text-center"><?= __('Actions') ?></th>
          </tr>
        </thead>
        <tbody>
          <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
          <tr>
            {% for field in fields %}
              <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
            {% endfor %}
            <td class="text-center text-nowrap">
              <?= $this->Html->link(__('View'), ['action' => 'view', ${{ singularVar }}->{{ pk|first }}], ['class' => 'btn btn-xs btn-primary']) ?>
              <?= $this->Html->link(__('Edit'), ['action' => 'edit', ${{ singularVar }}->{{ pk|first }}], ['class' => 'btn btn-xs btn-warning']) ?>
              <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', ${{ singularVar }}->{{ pk|first }}], ['confirm' => __('Are you sure you want to delete # {0}?', ${{ singularVar }}->{{ pk|first }}), 'class' => 'btn btn-xs btn-danger']) ?>
            </td>
          </tr>
          <?php endforeach; ?>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer clearfix">
    <div class="float-start">
      <ul class="pagination pagination-sm m-0">
        <?= $this->Paginator->first('<< ' . __('first')) ?>
        <?= $this->Paginator->prev('< ' . __('previous')) ?>
        <?= $this->Paginator->numbers() ?>
        <?= $this->Paginator->next(__('next') . ' >') ?>
        <?= $this->Paginator->last(__('last') . ' >>') ?>
      </ul>
    </div>
    <div class="float-end">
      <small class="text-muted">
        <?= $this->Paginator->counter(__('Page {{'{{'}}page{{'}}'}} of {{'{{'}}pages{{'}}'}}, showing {{'{{'}}current{{'}}'}} record(s) out of {{'{{'}}count{{'}}'}} total')) ?>
      </small>
    </div>
  </div>
</div>
